<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Tests">
        <classes>
            <class name="com.restAssured.tests.firstTest"/>
        </classes>
    </test>
</suite>
